<%- layout('layouts/boilerplate') %>

<div class="container d-flex justify-content-center align-items-center mt-2 mb-4">
    <div class="row w-100">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://unsplash.com/photos/ESkw2ayO2As/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MTF8fGZvcmVzdHxlbnwwfHx8fDE2NDUzNDc0NTI&force=true&w=640"
                    alt="just an image to make the login form look nice" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success btn-block w-100">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>